@model MvcTasks.DomainModel.Entities.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @Html.EditorForModel()
    </div>
</body>
</html>
